.prd-lst-container{
    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
}
.prd-lst-container .prd-lst-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    max-height: 10px;
    transition: max-height ease 10s;
}
.hm-container{
    padding: 0 10px;
}
.hm-container .vw-btn-wb{
    display: block;
    margin: 0 auto;
    min-width: 200px;
    font-size: 14px;
    text-transform: none;
    font-family: var(--font);
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    border-radius: 0;
    padding:16px 0;
    margin-bottom: 50px;
}
.prd-lst-container .prd-lst-row{
    max-height: 5000px;
}
.prd-lst-container .prd-lst-col{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding:0px 6px;
    box-sizing: border-box;
    position: relative;
    height: 462px;
    box-sizing: border-box;
}
.prd-lst-container .crd-sc-1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
    max-width: 300px;
}
.prd-lst-container .crd-sc-1-ss{
    height: 300px!important;
    background: var(--light-grey);
    max-width: 300px;
    padding:0;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}
.prd-lst-container .crd-dm-1{
    width: calc(100% - 20px);
    margin-left: 10px;
    display: block;
    height: 24px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 10px;
    background: var(--light-grey);
}
.prd-lst-container .crd-dm-2{
    width: calc(100% - 50px);
    margin-left: 25px;
    display: block;
    height: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 10px;
    background: var(--light-grey);
}
.prd-lst-container .crd-sc-1-ss::after,.prd-lst-container .crd-dm-1::after,.prd-lst-container .crd-dm-2::after, .prd-lst-container .crd-lnk::after{
    display: block;
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255,255,255,0.001), rgba(209,209,209, 0.5), rgba(255,255,255,0.001));
    -webkit-animation: loading 1.0s infinite;
            animation: loading 1.0s infinite;
}
.prd-lst-container .crd-sc-2{
    max-width: 300px;
    margin: 0 auto;
}
.prd-lst-container .crd-lnk{
    display: block;
    max-width:300px;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
    background: var(--light-grey);
    height: 300px;
}
.prd-lst-container .crd-lnk::after{

}
.prd-lst-container .crd-img{
    width: 100%;
    height: 100%!important;
    object-fit: contain;
    display:none;
}
.prd-lst-container .crd-nm{
    color: var(--text-color-dark);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    -webkit-text-align: left;
    text-align: left;
    -webkit-text-align: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    /* autoprefixer: on */
    text-overflow: ellipsis;
    white-space: normal;
    height: 36px;
}
.prd-lst-container .crd-prc-sc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.prd-lst-container .crd-prc-ct{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prd-lst-container .crd-prc{
    margin:0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.prd-lst-container .crd-prc-fk{
    margin:0;
    margin-left: 10px;
    margin-top: 2px;
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}
.prd-lst-container .crd-wt{
    font-size: 10px;
    color: var(--dark-grey);
    font-weight: 400;
    margin:0;
    margin-left: 10px;
}
.prd-lst-container .crd-btn{
    min-width:0;
    width: 200px;
    height: 40px;    
    border: 10px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    outline: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 2px;
    background-color: var(--theme-green);
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--white);
    font-size: 14px;
}
.prd-lst-container .crd-btn:focus,.prd-lst-container .crd-btn:hover{
    background-color: var(--theme-green);
}
.prd-lst-container .crd-btn-ds,.prd-lst-container .crd-btn-ds:focus{
    background: #b0b0b0!important;
}
.prd-lst-container .crd-btn:active, .prd-lst-container .crd-btn:focus{
    background-color: var(--theme-green);
}
.prd-lst-container .str-sc{
    position: absolute;
    top:20px;
    right: 10px;
    display: flex;
}
.prd-lst-container .str-icn{
    width: 14px;
    height: 14px;
    color: var(--dark-grey);
}
.prd-lst-container .htu-sc{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prd-lst-container .htu-icn{
    color: var(--dark-grey);
    height: 18px;
    width:22px;
}
.prd-lst-container .htu-txt{
    margin:0;
    color: var(--dark-grey);
    font-size: 10px;
    margin-top: -2px;
    font-weight: 400;
}
.prd-lst-container .str-rtg{
    margin:0;
    font-size: 12px;
    color: var(--dark-grey);
}
.prd-lst-container .mb{
    display: none;
}
.prd-lst-container .wb{
    display: flex;
}
.hm-container .cs-catg{
    width: 72%;
}
.hm-container .cs-catg-fl{
    width: 100%;
}
.hm-container .vw-btn{
    width: 28%;
    font-weight: 500;
    font-size: 12px;
    min-width: 0;
    color: var(--dark-grey);
    border-radius: 0;
    border-left: 1px solid var(--dark-grey-80);
    text-transform: capitalize;
}
.hm-container .sel-sc{
    display: none;
    height:48px;
    width: calc(100% - 20px);
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid var(--dark-grey-80);
    margin-bottom: 30px;
}
.hm-container .sel-nm{
    color: var(--text-color-dark-80);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font);
}
.hm-container .shw-fr{
    position: absolute;
    left:18px;
    top: 7px;
    color: var(--text-color-dark);
    font-size:10px;

}
.hm-container .chg-txt{
    position: absolute;
    right: 10px;
    top:7px;
    color: var(--dark-grey);
    font-size:10px;
}
.cus-sel-sm{
    background: var(--paper-bg)!important;
    height: 100%;
    position: relative;
    padding: 6px 45px 7px 85px!important; 
}
.cus-sel-paper{

}
.cus-sel-list{

}
.cus-sel-list li{
    padding: 15px 39px;
    font-size: 15px;
    font-family: var(--font);
    color: var(--text-color-dark);
    font-weight: 500;
}
.cus-sel-list .cus-sel-dis-mi{
    display: none!important;
}
.cus-sel-list li ~.Mui-selected{
    color: var(--theme-blue);
}
.cus-sel-list li .shw-fr,.cus-sel-list li .chg-txt{
   display: none;
}
.custom-sel-inp{
    height: 100%;
}
.custom-sel-inp svg{
    display: none!important;
}
.cus-sel-dis-mi{

}
.cus-sel-val{

}
.hm-container .hm-tb-wr{
    height: 70px;
}
@media (max-width: 798px) and  (min-width: 501px){
    .prd-lst-container .prd-lst-col{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .prd-lst-container .crd-img{
        width: 100%;
        height: auto;
    }
    .prd-lst-container .crd-lnk{
        display: block;
        max-width: 300px;
        margin:0 auto;
        height: 270px
    }
    .prd-lst-container .crd-sc-1{
        width: 100%;
        height: auto;

    }
    .prd-lst-container .crd-sc-1-ss{
        height: 270px!important;
    }
}
@media (max-width: 1000px) and  (min-width: 799px){
    
    .prd-lst-container .crd-img{
        width: 100%;
        height: auto;
    }
    .prd-lst-container .crd-lnk{
        display: block;
        max-width: 300px;
        margin:0 auto;
    }
    .prd-lst-container .crd-sc-1{
        width: 100%;
        height: auto;

    }
}
@media (max-width: 500px){
    .prd-lst-container .crd-sc-1-ss{
        height: 110px!important;
        max-width: 300px;
        padding:0;
        margin-top: 15px;
        overflow: hidden;
    }
    .prd-lst-container .crd-dm-1{
        height: 16px;
        margin-top: 12px;
    }
    .prd-lst-container .crd-dm-2{
        margin-left: 10px;
        height: 16px;
    }
    .hm-container {
        padding:0;
    }
    .hm-container .vw-btn-wb{
        display: none;
    }
    .hm-container .hm-tb-wr{
        margin-left: 10px;
    }
    .prd-lst-container .mb{
        display: flex;
    }
    .hm-container .sel-sc{
        display: flex;
    }
    .prd-lst-container .wb{
        display: none;
    }
    .prd-lst-container .htu-icn{
        color: var(--dark-grey);
        height: 16px;
        width:22px;
    }
    .prd-lst-container .htu-txt{
        margin-top: -1px;
    }
    .prd-lst-container .htu-txt{
        font-size: 8px;
    }
    .prd-lst-container .str-sc{
        top:16px;
        right: 10px;
    }
    .prd-lst-container .htu-sc{
        right: 0px;
        bottom: 0px;
    }
    .prd-lst-container .prd-lst-col{
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        padding: 6px 10px;
        height: 184px;
        align-items:center;
        border-bottom: 1px solid var(--dark-grey-80); 
    }   
    .prd-lst-container .prd-lst-col:last-child{
        border-bottom: 0px;
    }   
    .prd-lst-container .crd-nm{
        margin:0;
        text-align: left;
        height: auto;
    }
    .prd-lst-container .crd-prc-sc{
        flex-direction: column-reverse;
        margin-top: 5px;
        align-items: flex-start;
    }
    .prd-lst-container .crd-wt{
        margin:5px 0;
    }
    .prd-lst-container .crd-btn{
        max-width: 145px;
        min-width: 0;
        width: 100%;
        margin:0;
    }
    .prd-lst-container .crd-sc-1{
        width: 30%;
        height: max-content;
        overflow: hidden;
        padding-top: 0;
    }
    .prd-lst-container .crd-sc-2{
        width: 70%;
        overflow: hidden;
        position: relative;
    }
    .prd-lst-container .crd-lnk{
        height: 110px;
        width: 100%; 
        display: block;
    }
    .prd-lst-container .crd-img{
        width: 100%;
    }
}