.uts-ft-wr{
    background-color: var(--footer-bg);
}
.uts-ft-wr .uts-ft{
    max-width: var(--pg-width);
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    box-sizing: border-box;
}
.uts-ft-wr .ft-rw-1{
    display: flex;
    margin-bottom: 30px;
}
.uts-ft-wr .rw-1-txt{
    padding-left: 30px;
    color: var(--dark-grey);
    font-size: 14px;
}
.uts-ft-wr .ft-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -15px;
}
.uts-ft-wr .ft-col{
    flex: 0 0 25%;
    max-width: 25%;
    padding:0px 6px;
    box-sizing: border-box;
    box-sizing: border-box;
}
.uts-ft-wr .ft-rw-2{
    padding: 0 16px;   
}
.uts-ft-wr .ft-col-ct{
       
}
.uts-ft-wr .ft-col-hd{
    margin:0;
    padding: 5px 0;
}
.uts-ft-wr .ft-lnk{
    font-size: 12px;
    margin: 6px 0; 
    display: block;
    font-family:var(--font);
    font-weight: 500;
    color: var(--footer-text-color);
    line-height: 16px;
    text-decoration:none;
    text-transform: capitalize;
}
.uts-ft-wr .ft-lnk:hover{
    color: var(--theme-blue);
    text-decoration:underline;
}
.uts-ft-wr .ft-txt{
    font-size: 12px;
    margin: 0px 0; 
    display: block;
    font-family:var(--font);
    color: var(--footer-text-color);
    line-height: 20px;
}
.uts-ft-wr .ft-col-hd-2{
    margin-top: 20px;
}
.uts-ft-wr .ft-card{
    width: 100%;
    min-height: 50px;
    padding: 1px 20px 15px 20px;
    box-sizing: border-box;
    background-image: linear-gradient(282deg, #526b7a, #0f4667 39%, #0a334c);
}
.uts-ft-wr .ft-hm-sc{
    width: 100%;
    display: block;
    background: var(--paper-bg);
    margin: 0 auto;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    box-sizing: border-box;
}
.uts-ft-wr .ft-hm-sc-ct{
    display: flex;
    max-width: var(--pg-width);
    width: 100%;
    margin: 0 auto;
    
}
.uts-ft-wr .ft-hm-1{
    font-size: 12px;
    text-align: left;
    color: var(--dark-grey);
    line-height: 20px;
    width: max-content;
}
.uts-ft-wr .ft-hm-2{
    width: 194px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.uts-ft-wr .hm-logo{
    width: 63px;
    height: 48px;
}
.uts-ft-wr .ft-hm-txt{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.uts-ft-wr .ft-rw-1-mb{
    display: none;
}
.uts-ft-wr .ft-col-wb{
    display: block;
}
.uts-ft-wr .ft-col-ct-cmp{
    
}
.uts-ft-wr .ft-tb-icn{
    display: none;
}
.uts-ft-wr .ft-scl-btn{
    min-width: 0px;
    width: 30px;
    border-radius: 50%;
    background: var(--paper-bg);
    height:30px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uts-ft-wr .ft-scl-icn{
    font-size: 18px;
    color: var(--text-color-dark);
}
.uts-ft-wr .ft-scl{
    display: flex;
}
.uts-ft-wr .ft-app-btn{
    width: 120px;
    height: 36px;
    display: block;
    padding:0;
}
.uts-ft-wr .ft-app-btn:nth-child(2){
    margin-left: auto;
}
.uts-ft-wr .ft-app-img{
    width: 120px;
    height: 36px;
    object-fit: cover;
}
.uts-ft-wr .ft-sc-txt{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font);
    margin: 20px 0 14px 0;
    color: var(--white);
}
.uts-ft-wr .ft-cnt-mb{
    display: none;
}
.uts-ft-wr .ft-hm-mb{
    display: none;
}
.uts-ft-wr .ft-en-icn{
    color: var(--white);
    font-size: 18px;
}
.uts-ft-wr .ft-en-lk{
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--theme-blue);
    border-radius: 50%;
}
.uts-ft-wr .ft-logo{
    width: 120px;
    height: 38px;
}
.uts-ft-wr .ft-en-sc{
    display: flex;
    justify-content: center;
}
.uts-ft-wr .ft-hm-hd-mb{
    margin-bottom: 5px;
    text-align: center;
    font-family: var(--font);
    font-weight: 500;
    color: var(--text-color-dark);
}
.uts-ft-wr .ft-hm-txt-mb{
    color: var(--dark-grey);
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
}
@media (max-width: 500px){
    .uts-ft-wr .ft-lnk{
        text-transform: uppercase;
    }
    .uts-ft-wr .uts-ft{
        padding: 0px;
    }
    .uts-ft-wr .ft-scl{
        display: flex;
        justify-content: center;
    }
    .uts-ft-wr .ft-sc-txt{
        text-align: center;
        margin: 20px 0 14px 0; 
        color: var(--text-color-dark);
        margin-top: 16px;
    }
    .uts-ft-wr .ft-hm-mb{
        display: block;
    }
    .uts-ft-wr .ft-hm-sc-ct{
        padding: 0 16px;
        box-sizing: border-box;
        flex-direction: column;
    }
    .uts-ft-wr .ft-hm-1{
        text-align: center;
        width: 100%;
    }
    .uts-ft-wr .mb-hide{
        display: none;
    }
    .uts-ft-wr .ft-hm-sc{
        margin:0;
        padding-bottom: 58px;
    }
    .uts-ft-wr .ft-tb-icn{
        display: block;
        float:right;
        font-size: 20px;
        color: var(--dark-grey);
    }
    .uts-ft-wr .ft-cnt-mb{
        display: block;
    }
    .uts-ft-wr .ft-col-wb{
        display: none;
    }
    .uts-ft-wr .ft-col-ct{
        height: max-content;
        max-height: 500px;
        transition: all ease-in-out 0.25s;
    }
    .uts-ft-wr .ft-col-ct-cmp{
        max-height: 36px;
        overflow: hidden;
    }
    .uts-ft-wr .ft-rw-1{
        display: none;
    }
    .uts-ft-wr .ft-col{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 16px;
        overflow: hidden;
        margin-bottom: 8px; 
    }
    .uts-ft-wr .ft-rw-1-mb{
        display: flex;
        height: 60px;
        padding:0 15px;
        background-image: linear-gradient(272deg, #526b7a, #0f4667 39%, #0a334c) !important;
        opacity: 0.8;
        align-items: center;
    }
    .uts-ft-wr .ft-rw-2{
        padding:15px 16px;
    }
    .uts-ft-wr .ft-dw-txt{
        color: var(--white);
        margin:0;
        font-size: 14px;
        font-weight: 500;
    }
    .uts-ft-wr .ft-ga-btn{
        background: var(--theme-green);
        color: var(--white);
        min-width: 88px;
        height: 36px;
        margin-left: auto;
    }
    .uts-ft-wr .ft-ga-btn:focus{
        background: var(--theme-green);
    }
    .uts-ft-wr{
        padding: 0;
    }
}

@media (max-width: 1000px) and (min-width:799px){
    .uts-ft-wr .ft-col{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding: 0 10px;
    }
    .uts-ft-wr .ft-col:last-child{
        display: none;
    }
    .uts-ft-wr .ft-rw-1{
        padding: 0 10px;
    }
    .uts-ft-wr .ft-hm-sc-ct{
        padding: 0 10px;
        box-sizing: border-box;
    }
}
@media (max-width: 798px) and (min-width:501px){
    .uts-ft-wr .mb-hide{
        display: none;
    }
    .uts-ft-wr .ft-col:nth-child(3){
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 10px;
        display: flex;
        padding: 0;
    }
    .uts-ft-wr .ft-col-ct{
        width: 50%;
    }
    .uts-ft-wr .ft-col-hd{
        margin:0;
    }
    .uts-ft-wr .ft-col{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .uts-ft-wr .ft-col:last-child{
        display: none;
    }
    .uts-ft-wr .ft-rw-1{
        padding: 0 10px;
    }
    .uts-ft-wr .ft-hm-sc-ct{
        padding: 0 10px;
        box-sizing: border-box;
    }
}